body{
    
    text-align: center;
    
}  
h5{
    height: 0px;
    line-height: 50px;
}
h1{
    height: 4px;

}
h3{
    height: px;

}
p{
    word-spacing: 30px;
    border: 2px solid black;
    
    padding: 10px;
    border-color: black white black white;
}
img{
    width: 200px;
}
#para-one{
    word-spacing: 5px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;

}
#home{
    color: red;

}
div{
    border: 1px solid black;
    padding: 1px;
    margin-bottom: 1px;
    
}
.div-two{
    border: 1px solid black;
    margin-bottom: px;
    padding: 80px;
    
    margin: px;

}
p{
    margin-left: 300px ;
    margin-right: 300px ;
    
} 


